@import "tailwindcss";

body {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  background-color: #121212;
}

.npc-dialog-portal {
  position: fixed !important;
  inset: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

